<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/header.css">
</head>
<body>
    <div class="menu">
        <div class="izquierda">
            <a href="/">ExpressBooks</a>
        </div>
        <div class="derecha">
            <a href="/">Books</a>
            <a href="/newbook">New book</a>
        </div>
    </div>
</body>
</html>